@media (min-width: 1100px) {

    #phone_header {
        display: none;
    }

    #phone_first {
        display: none;
    }
}

@media (max-width: 576px) {
    #header {
        display: none;
    }

    .slick-next {
        right: 30px !important;
    }

    .photo_relative {
        img {
            display: none;
        }
    }

    #phone_header {
        font-family: Inter;
        box-shadow: 0px 3px 5px 1px rgb(206, 206, 206);

        a {
            text-decoration: none;
            color: black;

        }

        .covid_mob_keeper {
            .covid_mob {
                padding: 9px 0;
                background-color: rgb(35, 58, 149);
                color: white;
                font-size: 12px;
                text-align: center;
            }
        }

        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;

            .left {
                color: rgb(32, 36, 79);

                i {
                    font-size: 22px;

                    &::before {
                        font-weight: 600;
                    }
                }
            }

            .middle {
                color: rgb(32, 36, 79);

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }


            .right {
                color: rgb(32, 36, 79);

                display: flex;
                justify-content: flex-end;
                align-items: center;
                font-family: DosisLight;
                font-weight: 700;

                .bag {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .bag_icon {
                        padding: 0 10px;
                        margin: 0;
                        position: relative;

                        &::before {
                            padding: 0;
                            margin: 0;
                            background-color: white;
                            color: rgb(32, 36, 79);
                            font-size: 25px;
                        }

                        .amount {
                            position: absolute;
                            top: -15%;
                            right: -15%;
                            text-align: center;
                            font-size: 10px;
                            background-color: red;
                            font-family: InterLight;
                            color: white;
                            padding: 0px 6px;
                            border-radius: 100%;
                        }
                    }
                }
            }
        }
    }

    #first {
        display: none;
    }

    #phone_first {
        padding: 0 10px;

        .all {

            .top {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;

                .slide1 {
                    padding: 20px 20px;
                    background-image: url(../images/slider-image-8.jpg);
                    object-fit: cover;
                    background-size: cover;
                    width: 100%;
                    border-radius: 10px;
                    padding: 30px 20px;
                    margin: 20px 0;

                    .slide1_content {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;

                        .first_p {
                            font-family: InterLight;
                            font-weight: 600;
                            font-size: 12px;

                            span {
                                padding: 5px 7px;
                                background: rgb(192, 228, 208);
                                background: linear-gradient(90deg, rgba(192, 228, 208, 1) 0%, rgba(255, 255, 255, 1) 100%);
                                border-radius: 20px;
                                color: #038E42;
                            }
                        }

                        h5 {
                            margin-top: 25px;
                            font-family: Inter;
                            font-weight: 700;
                        }

                        .second_p {
                            font-family: DosisLight;
                            font-weight: 600;
                        }

                        .third_p {
                            font-family: DosisLight;
                            font-weight: 600;

                            span {
                                font-family: DosisLight;
                                font-weight: 700;
                                font-size: 2rem;
                                color: red;
                                margin-left: 5px;
                            }
                        }

                        button {
                            margin-top: 25px;
                            outline: none;
                            border: none;
                            border-radius: 20px;
                            background-color: rgb(43, 190, 249);
                            color: white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 8px 20px;

                            i {
                                margin-left: 5px;
                            }
                        }
                    }
                }

                .slide2 {
                    margin: 20px 0;

                    img {
                        width: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                    }
                }


            }

            .bottom {

                .slide3 {
                    background-image: url(../images/home-banner-15.jpg);
                    object-fit: cover;
                    background-size: cover;
                    border-radius: 10px;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding: 30px 20px;
                    margin: 20px 0;

                    .slide3_content {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: flex-start;

                        .first_p {
                            font-family: InterLight;
                            font-weight: 600;
                            font-size: 16px;
                        }

                        .second_p {
                            font-family: DosisLight;
                            font-weight: 600;
                            font-size: 28px;
                        }

                        .third_p {
                            font-family: DosisLight;
                            font-weight: 600;
                        }

                        button {
                            margin-top: 25px;
                            outline: none;
                            border: none;
                            border-radius: 20px;
                            background-color: rgb(43, 190, 249);
                            color: white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 8px 20px;
                        }
                    }
                }

                .slide4 {
                    background-image: url(../images/home-banner-16.jpg);
                    object-fit: cover;
                    background-size: cover;
                    border-radius: 10px;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    padding: 20px 20px;
                    margin: 20px 0;



                    .slide4_content {
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        align-items: flex-start;

                        .first_p {
                            font-family: InterLight;
                            font-weight: 600;
                            font-size: 16px;
                        }

                        .second_p {
                            font-family: DosisLight;
                            font-weight: 600;
                            font-size: 28px;
                        }

                        .third_p {
                            font-family: DosisLight;
                            font-weight: 600;
                        }

                        button {
                            margin-top: 25px;
                            outline: none;
                            border: none;
                            border-radius: 20px;
                            background-color: rgb(43, 190, 249);
                            color: white;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 8px 20px;
                        }
                    }
                }
            }
        }
    }
}