body{
    margin: 0px;
    padding: 0px;
}
.grid-container{
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    width: 900px;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(12, 250px); /* 300px */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px grey;
}
.grid-item{
    margin: 5px;
    border: 1px groove rgb(255, 103, 103);
    border-radius: 3px;
    display: flex;
    font-size: 20px;
    font-weight: 20px;
    padding: 10px;
}
img{
    margin: 10px;
}
h3{
    margin: 10px;
}
h5{
    text-decoration: underline;
    color: grey;
    margin: 10px;
}
.lorem{
    margin-top: 10px;
    padding: 10px;
}
.nav-p{
    margin: 10px;
}
.one{
    display: grid;
    grid-template-areas: 
    "first second";
    grid-column: 1 / 4;
    background-color: rgb(255, 248, 255);
}
.second{
    display: grid;
    grid-template-areas: 
    "navigation1 navigation2 navigation3";
}
.navigation{
    margin-left: 70px;
}
.two{
    grid-row: 2 / 4;
    background-color: aqua;
    flex-direction: column;
}
.learn-more-read-more{
    /* position: absolute;
    bottom: 0; */
    
}
.three{
    padding: 0px;
    grid-row: 2 / 4;
    grid-column: 2 / 4;
}
.photo{
    object-position: 80% 0;
    object-fit: cover;
    width: 100%;
    margin: 0px;
}
.four{
    grid-row: 4;
    grid-column: 1;
    background-color: blueviolet;
}
.five{
    grid-row: 4 / 6;
    grid-column: 2 / 3;
    background-color: brown;
}

.nine{
    grid-row: 6 / 8;
    grid-column: 1 / 3;
    background-color: cadetblue;
}
.ten{
    grid-row: 6 / 8;
    background-color: red;
}
.eleven{
    grid-row: 8 / 10;
    grid-column: 1 / 3;
    background-color:rgb(27, 160, 27) ;
}
/* 12 13 */

.fourteen{
    grid-row: 10 / 12;
    grid-column: 1 / 3;
    background-color: coral;
}
/* 15 */

.seventeen{
    grid-row: 12 / 13;
    grid-column: 1 / 4;
    background-color: rgb(201, 76, 76);
}