* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter/Inter-Medium.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-BoldItalic.ttf);
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

#header {
    .top {
        background-color: rgb(35, 58, 149);

        p {
            text-align: center;
            color: white;
            font-size: 12px;
            font-family: Inter;
            padding: 9px;
            margin: 0;
        }
    }

    .middle {
        padding: 6px;
        border-bottom: 1px solid #d9d9e9;

        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .all_first {
                a {
                    font-family: Inter;
                    text-decoration: none;
                    transition: 0.4s;
                    margin-left: 15px;
                    color: #3E445A;
                    font-size: 12px;

                    &:hover {
                        color: rgb(43, 190, 249);
                    }
                }
            }

            .middle_middle {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;

                p {
                    padding: 0 18px;
                    border-right: 1px solid #d9d9e9;
                    color: #3E445A;

                    a {
                        font-weight: 700;
                        color: rgb(43, 190, 249);
                        position: relative;
                        transition: 0.3s;
                    }

                    a::before {
                        content: '';
                        position: absolute;
                        top: 15px;
                        transition: 0.3s;
                        left: 0px;
                        width: 0%;
                        height: 1px;
                        color: black;
                        background-color: black;
                    }

                    a:hover::before {
                        width: 100%;
                        transition: 0.3s;

                    }
                }

                .language_currency {
                    display: flex;
                    align-items: center;

                    p {
                        cursor: pointer;
                        transition: 0.3s;
                        // border: none;
                        &:hover{
                            color: rgb(43, 190, 249);
                        }
                        &:hover i {
                            transform: rotate(3.142rad);
                            color: rgb(43, 190, 249);
                        }

                        i {
                            font-size: 10px;
                            transition: 0.3s;
                        }

                        &:last-child {
                            border-right: 1px solid #d9d9e9;
                        }
                    }
                }
            }

        }

    }
}