* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    width: 100%;
    position: fixed;
    background-color: transparent;
    padding: 10px 0px;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav {
            display: flex;
            justify-content: end;
            align-items: center;
        }

        a {
            font-weight: 500;
            text-decoration: none;
            color: white;
            margin-right: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                transition: 1s;
                margin-left: 3px;

                &:hover {
                    transform: rotate(2*3.142rad);
                }
            }
        }

        .btn {
            text-align: end;

            .nav_button {
                padding: 13px 40px;
                background-color: rgb(238, 106, 62);
                transition: 0.5s;
                color: white;
                outline: none;
                font-weight: 500;
                border: none;
                border-radius: 4px;

                &:hover {
                    background-color: #f7b22c;
                }
            }
        }
    }
}

#first {
    overflow: hidden;
    background-image: url(https://templates.envytheme.com/bitr/default/assets/images/banner/banner-bg-3.jpg);
    height: 100vh;
    padding: 50px 20px;
    background-attachment: fixed;
    vertical-align: middle;
    object-fit: cover;

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .left {
        h1 {
            font-size: 85px;
            color: white;
            margin-bottom: 35px;
        }

        p {
            font-size: 1rem;
            line-height: 28px;
            font-weight: 500;
            color: white;
            margin-bottom: 35px;
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            button {
                padding: 13px 40px;
                background-color: rgb(238, 106, 62);
                transition: 0.5s;
                color: white;
                outline: none;
                font-weight: 500;
                border: none;
                border-radius: 4px;

                &:hover {
                    background-color: black;
                }

                &:last-child {
                    background-color: #f7b22c;
                    transition: 1s;

                    &:hover {
                        background-color: black;
                    }
                }
            }
        }
    }

    .right {
        overflow: hidden;

        img {
            width: 100%;
        }
    }
}

#second {
    margin: 80px 0;

    .all {
        display: flex;
        justify-content: center;
        align-items: center;

        .top {
            text-align: center;
            margin-bottom: 30px;

            p {
                color: #ff6600;

                &:last-child {
                    color: rgba(102, 102, 102, 0.750);
                    font-weight: 500;
                }
            }
        }

        .bottom {
            display: flex;
            justify-content: center;
            align-items: center;

            .lg3 {
                padding: 15px;
                .img_lg3{
                    transition: 1s;
                    margin-bottom: 15px;
                    &:hover{
                        transform: rotateY(3*3.142rad);
                    }
                }

                p {
                    color: rgba(102, 102, 102, 0.750);
                    font-size: 17px;

                    span {
                        color: #ff6600;
                    }
                }
            }
        }
    }
}


#third{
    .all{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            
        }
    }
}