@font-face {
    font-family: My Font;
    src: url(../fonts/Poppins-Light.ttf);
}
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: My Font, sans-serif;
}

html, body{
    scroll-behavior: smooth;
}

/* scroll up */

.scroll_up{
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.scroll_up_custom{
    color: black;
    background-color: rgb(56, 56, 255);
    opacity: 0.5;
    padding: 9px 15px;
    border-radius: 100%;
    transition: .3s;
}
.scroll_up_custom:hover{
    opacity: 1;
    padding: 11px 17px;
}


/* scroll */

::-webkit-scrollbar{
    width: 3px;
    transition: .2s;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    transition: .2s;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.514);
    transition: .2s;
}
::-webkit-scrollbar:hover{
    width: 8px;
}
::-webkit-scrollbar-track:hover{
    background-color: rgba(128, 128, 128, 0.459);
    width: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgb(255, 0, 0);
}

/* body design */
body{
    height: 2222px;
}

::selection{
    background-color: rgba(18, 156, 16, 0.733);
}

.container{
    padding: 0px 120px;
}

/* header */

header{
    background-color: #00000019;
    width: 100%;
    position: fixed;
    z-index: 1;
    box-shadow: 0px 1px 4px 0px black;
}
.header_all_top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    transition: 0.3s;
    border-bottom: 1px solid grey;
}

/* left top header */

.left{
    width: 65%;
}
.left_p{
    font-size: 12px;
    color: white;
}
.tel_num{
    margin-right: 10px; 
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
.tel_num:hover{
    color: rgba(0, 0, 0, 0.764);
    font-size: 120%;
}


/* top header right */


.right{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right_social_media{
    text-decoration: none;
    color: white;
    font-size: 110%;
    transition: 0.3s;
}
.right_social_media:hover{
    color: blue;
    font-size: 150%;
}

/* header bottom */

.header_all_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px ;
    transition: 0.3s;
}
.header_all_bottom a{
    text-decoration: none;
    color: white;
}
.logo{
    font-size: 40px;
    transition: 0.4s;
}
.logo:hover{
    opacity: 0.4;
    color: rgba(0, 0, 0, 0.764);
}
.navigation_item{
    margin-left: 10px;
    font-size: 14px;
    transition: 0.4s;
}
.navigation_item:hover{
    color: rgba(0, 0, 0, 0.764);
    font-size: 120%;
}
.fa-globe{
    position: relative;
}
.globe_en{
    position: absolute;
    top: -8px;
    right: -10px;
    font-size: 70%;
}

/* Sections */
/* first section */

.first{
    background-image: url(https://wallpaperaccess.com/full/1191990.jpg);
    background-position: center;
    padding: 175px 0px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 40px;
}
/* left div of first section */

.left_right_first{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left_first{
    width: 50%;
    line-height: 100px;
}
.header_text_left_first{
    transition: 0.3s;
    color: white;
}
.header_text_left_first1{
    font-size: 90px;
    color: rgb(245, 185, 185);
}
.header_text_left_first2{
    font-size: 50px;
    color: rgb(245, 185, 185);
}

/* right div of first section  */

.right_first{
    transition: 0.4s;
    width: 45%;
    background-color: rgba(85, 85, 85, 0.439);
    opacity: 0.7;
    padding: 35px;
    border: 10px solid rgba(85, 85, 85, 0.667);
    border-radius: 5px;
}
/* form grid */
.right_first_form{
    display: grid;
    width: 100%;
    column-gap: 25px;
    grid-template-areas: 
    "top1 top2"
    "middle1 middle2"
    "bottom bottom"
    ". div_button_check";
}
.right_first_form div{
    margin-top: 20px;
    font-size: 20px;
}
/* grid items */
.top1{
    grid-area: top1;
    width: 100%;
}

.top2{
    grid-area: top2;
    width: 100%;
}

.middle1{
    width: 65%;
    grid-area: middle1;
}

.middle2{
    width: 65%;
    grid-area: middle2;
}

.bottom{
    grid-area: bottom;
}

.div_button_check{
    grid-area: div_button_check;
}

/* form items design */

.bottom select{
    width: 100%;
    border-radius: 3px;
    border: 1px grey solid;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.button_check{
    cursor: pointer;
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    background-color: rgb(34,80,252);
    color: white;
    transition: 0.3s;
}

.right_first_form input{
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    transform: 0.3s;
}

.right_first_form label{
    font-size: 16px;
    color: rgb(44, 44, 44);
    transition: 0.3s;
}

/* hover */
.right_first:hover{
    opacity: 1;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 10px rgba(255, 0, 0, 0.544);
}
.right_first_form label:hover{
    color: red;
}
.header_text_left_first:hover{
    color: red;
}
.button_check:hover{
    background-color: blue;
}

/* section second */
.second{
    margin-bottom: 40px;
}
.second_top{
    text-align: center;
    font-size: 33px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.531);
    margin-bottom: 30px;
    padding-bottom: 25px;
}
.second_middle{
    margin-bottom: 30px;
    padding-bottom: 25px;
    text-align: center;
    color: rgb(150,150,150);
    border-bottom: 1px solid rgba(128, 128, 128, 0.531);
}
.second_bottom{
    display: flex;
    margin-bottom: 30px;
    padding-bottom: 25px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.second_bottom div{
    width: 22%;
}
.second_bottom_awesome{
    font-size: 35px;
    color: rgb(72,72,72);
}
.second_p{
    font-size: 14px;
    color: #777777;
    line-height: 28px;
}
.second_h3{
    margin: 10px 0px;
}

/* third section cards etc */

.third{
    margin-bottom: 40px;
}

.third_top_h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.531);
}
.third_middle{
    font-size: 18px;
    text-align: center;
    color: #777777;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.531);
}
.third_bottom{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    padding: 20px 0px ;
}
.third_bottom_card{
    width: 22%; 
}
.third_bottom_card{
    transition: 0.4s;
    border-radius: 5px;
}
.third_bottom_card img{
    width: 100%;
    border-radius: 5px;
}
.photo_card{
    position: relative;
    width: 100%;
}
.save_money{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 40px;
    text-align: center;
    font-size: 10px;
    color: white;
    padding: 4px 10px 4px 7px;
    background-color: red;
    border-radius: 100%;
}
.room_type{
    position: absolute;
    right: 26%;
    bottom: 15px;
    color: white;
    font-size: 18px;
}
.card_middle{
    margin: 20px 8px;
}
.card_text{
    padding-bottom: 10px;
    color: #777777;
    font-size: 14px;
    border-bottom: 1px solid #77777754;
}
.card_bottom{
    margin: 10px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_bottom_btn{
    width: 30%;
}
.card_btn{
    width: 100%;
    border: 0px;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    background-color: #0333E8;
    padding: 10px 0px;
}
.third_bottom_bottom{
    border-bottom: 1px solid #77777752;
}
.third_bottom_card:hover{
    box-shadow: 0px 0px 10px 2px red;
    margin-top: 10px;
    cursor: pointer;
}
.card_btn:hover{
    background-color: #2250fc;
    cursor: pointer;
}
/* fourth */


.fourth{
    margin-bottom: 40px;
}
.fourth_h1{
    font-size: 50px;
    margin-top: 30px;
    padding-bottom: 10px;
}
.fourth_flex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* align-items: center; */
}
.left_fourth{
    width: 57%;
}
.right_fourth{
    width: 39%;
}
.fourth_days{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #0333E8;
    margin-bottom: 15px;
}
.fourth_ready_to_purchase{
    color: #777777;
    font-weight: bold;
}
.fourth_day{
    padding: 10px 0px;
}
.fourth_name{
    font-weight: bold;
}
.fourth_p_p{
    border-bottom: 1px solid grey;
    margin-bottom: 5px;
    font-size: 14px;
}
.fourth_padding{
    padding-bottom: 15px;
}

/* form in fourth section */

.fourth_form{
    width: 100%;
    padding: 10px 0px;
}

.fourth_form_label{
    color: #777777;
}
.fourth_form_input{
    width: 100%;
    margin-bottom: 15px;
    outline: none;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #777777;
}
.textarea{
    overflow: auto;
    resize: vertical;
    width: 100%;
}
.fourth_form_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth_btn{
    background-color: #0333E8;
    border: 0px;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    padding: 10px;
}

.fourth_btn:hover{
    background-color: #2250fc;
    cursor: pointer;
}

/* map is ready in html */

/* footer */

.footer_btn{
    border: 0px;
    border-radius: 3px;
    font-size: 13px;
    color: white;
    padding: 10px;
}

.footer_button{
    background-color: #2250fc;
    cursor: pointer;
}
.footer_flex{
    display: flex;
    justify-content: space-between;
}