@font-face {
    font-family: 'rrr';
    src: url(../fonts/PaletteMosaic-Regular.ttf);
}

/* Containers */

.main_html{
    text-align: center;
    width: 520px;
    padding: 5px;
    margin: auto;
    margin-top: auto;
}

/* Photo */
.my_photo{
    width: 200px;
    border-radius: 50%;
}


/* Text h1 and h3 */

.description_of_person{
    width: 500px;
}
.code_edu_az{
    color: blue;
}
.code_edu_az:hover{
    color: darkblue;
    text-shadow: 2px 2px 2px rgba(255, 0, 0, 0.5);
}


/* Logos and logos hover color */

.youtube:hover{
    color: red;
}
.instagram:hover{
    color: rgb(255, 0, 76);
}
.whatsapp:hover{
    color: rgb(0, 102, 0);
}
.facebook:hover, .twitter:hover{
    color: blue;
}
.fa-brands{
    font-size: 40px;
    padding: 10px 10px 50px 10px;
}
.fa-brands:hover{
    text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.7);
}

/* buttons */

.button_website{
    width: 500px;
    height: 50px;
    color: white;
    background-color: rgb(11, 23, 128);
    border-width: 1px 5px 5px 1px;
    border-color: brown;
}

.form_buttons{
    text-align: center;
}

.button_website:hover{
    color: black;
}