@font-face {
    font-family: Font;
    src: url(../fonts/SourceSansPro-Regular.ttf);
    font-family: Font1;
    src: url(../fonts/SourceSansPro-Light.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: Font, sans-serif; */
}
html, body{
    scroll-behavior: smooth;   
    background-image: url(../images/shutterstock_527339023_copy_17.png); 
    background-attachment: fixed;
    height: auto;
    background-position: center;
    background-size: cover;
    height: 1223px;
}
.container{
    padding: 1rem 3rem;
}
.container1{
    padding: 1rem 6rem;
}
/* scroll */

.logo{
    width: 160px;
    height: 60px;
}
header{
    font-family: Font;
    position: fixed;
    width: 100%;
    background-color: #66666616;
    box-shadow: 0px 0px 5px 5px #777777 ;
}
.header_all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left{
    width: 14%;
}
.header_middle{
    width: 75%;
    line-height: 30px;
}
.middle_top_right{
    display: flex;
    align-items: center;
}
.corporate_img{
    margin-right: 15px;
}
.middle_top{
    display: flex;
    align-items: center;
}
.middle_top_left{
    display: flex;
    align-items: center;
}
.middle_top_rigth{
    display: flex;
    align-items: center;
}
.header_right{
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: #007A5B;
    margin-right: 15px;
    font-size: 18px;
    transition: 0.4s;
}
.contacts_border{
    border-right: 1px solid #007A5B;
    padding-right: 15px;
}
.az{
    padding: 5px 3px;
    color: #007A5B;
    border: 1px solid #007A5B;
    border-radius: 5px;
    margin-right: 20px;
}
.about_us{
    position: relative;
}
.about_us::before{
    content: '';
    position: absolute;
    width: 100%;
    top: 20px;
    background-color: #007A5B;
    height: 3px;
}

/* 
.header_middle a:hover{
    transform: scale(1.1);
}
.middle_bottom a:hover{
    transform: scale(1.1);
} */



/* section first */

#First{
    background-color: transparent;
    padding: 12rem 19rem;
    text-align: center;

}
.first_h1{
    font-size: 95px;
    color: #007A5B;
    font-family: Font1;
}


/* second section */

.second_all{
    background-color: white;
    padding: 80px;
    font-family: Font1;

}
.main_text_head{
    font-size: 45px;
    color: black;
    margin-bottom: 50px;
}
.main_text_middle1{
    font-size: 20px;
    color: rgba(0,0,0,0.7);
    margin: 0 0 20px 0;
}
.box_middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
    border-bottom: 1px solid #777777a1;
    padding-bottom: 50px;
}
.box_middle_left_and_right{
    width: 46%;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 45px;
}
.middle_price{
    font-size: 45px;
    margin-bottom: 10px;
}

.boxes_bottom{
    margin-top: 30px;
    display: grid;
    width: 100%;
    grid-row: auto;
    grid-column: auto;
    row-gap: 20px;
    column-gap: 20px;
    grid-template-areas: 
    "box_bottom box_bottom box_bottom box_bottom"
    "box_bottom box_bottom box_bottom box_bottom"
    "box_bottom box_bottom box_bottom box_bottom";
}
.box_bottom{
    cursor: pointer;
    border: 1px solid #66666691;
    border-radius: 8px;
    padding: 90px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.box_bottom a{
    text-align: center;
}
.img_grid{
    opacity: 0.5;
    transition: 0.3s;
}
.box_bottom:hover img{
    transform: scale(1.2);
    opacity: 1;

}