* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 2000px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: blue;
}

::-webkit-scrollbar:hover {
  width: 8px;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(128, 128, 128, 0.459);
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #0e7fa5;
}

a {
  text-decoration: none;
  color: #666;
  font-size: 14px;
  margin: 0 7px;
}

.for_visibility {
  visibility: hidden;
  opacity: 0;
}

.mnk {
  padding-left: 60px;
}

span {
  font-size: 14px;
  color: #666;
}

span i {
  font-size: 110%;
}

#second {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#search1 {
  cursor: pointer;
}

#search_engine1 {
  -webkit-transition: .4s;
  transition: .4s;
  width: 100%;
}

#search_engine1 div {
  width: 100%;
  background-color: #FFF;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(102, 102, 102, 0.198);
  border-top: 1ps solid rgba(102, 102, 102, 0.198);
}

#search_engine1 div input {
  width: 90%;
  border: none;
  outline: none;
  font-size: 20px;
  opacity: 0.6;
  color: #666;
  padding: 20px;
}

#search_engine1 div input::-webkit-input-placeholder {
  opacity: 0.6;
  color: #666;
  font-weight: lighter;
}

#search_engine1 div input:-ms-input-placeholder {
  opacity: 0.6;
  color: #666;
  font-weight: lighter;
}

#search_engine1 div input::-ms-input-placeholder {
  opacity: 0.6;
  color: #666;
  font-weight: lighter;
}

#search_engine1 div input::placeholder {
  opacity: 0.6;
  color: #666;
  font-weight: lighter;
}

#search_engine1 div span {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
}

header .header_top_color {
  background-color: #f6f7f8;
}

header .top {
  width: 100%;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

header .top .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top .all .search_lang_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top .all #lang {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .top .all #lang:hover {
  color: blue;
}

header .top .all #lang:hover i {
  color: blue;
  -webkit-transform: rotate(3.142rad);
          transform: rotate(3.142rad);
}

header .top .all #lang i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .top .all #lang .for_visibility1 {
  visibility: hidden !important;
  opacity: 0 !important;
}

header .top .all #lang #langs_shadow {
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 33px 7px #666;
          box-shadow: 0px 0px 33px 7px #666;
  background: transparent;
  position: absolute;
  right: 100px;
  border-radius: 5px;
}

header .top .all #lang #langs_shadow #langs {
  -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 10%, 83% 10%, 72% 0, 60% 10%, 0 10%);
          clip-path: polygon(0 100%, 100% 100%, 100% 10%, 83% 10%, 72% 0, 60% 10%, 0 10%);
  background-color: #FFF;
  width: 150px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 12px;
  padding-left: 15px;
}

header .top .all #lang #langs_shadow #langs span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.25rem;
}

header .top .all #lang #langs_shadow #langs span img {
  vertical-align: bottom;
  margin-right: 10px;
}

header .top .all #search {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .top .all #search:hover {
  color: blue;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .top .all #search i {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .top .all #search i:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .top .all .top_right_nav {
  display: inline;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  color: #666666;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .top .all .top_left_blue_button {
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
  border: 1px solid #0056c1;
  padding: 7px 10px;
  color: #0056c1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .top .all .top_left_blue_button:hover {
  background-color: #3329ca;
  color: white;
}

header .future_search {
  position: relative;
}

header .future_search .for_visibility {
  visibility: hidden;
  opacity: 0;
}

header .future_search #search_engine {
  -webkit-transition: .4s;
  transition: .4s;
  width: 100%;
  position: absolute;
}

header .future_search #search_engine div {
  width: 100%;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(102, 102, 102, 0.198);
}

header .future_search #search_engine div input {
  width: 95%;
  height: 136px;
  border: none;
  outline: none;
  font-size: 40px;
  opacity: 0.6;
  color: #666;
  padding: 30px;
}

header .future_search #search_engine div input::-webkit-input-placeholder {
  opacity: 0.6;
  color: #666;
  font-weight: lighter;
}

header .future_search #search_engine div input:-ms-input-placeholder {
  opacity: 0.6;
  color: #666;
  font-weight: lighter;
}

header .future_search #search_engine div input::-ms-input-placeholder {
  opacity: 0.6;
  color: #666;
  font-weight: lighter;
}

header .future_search #search_engine div input::placeholder {
  opacity: 0.6;
  color: #666;
  font-weight: lighter;
}

header .future_search #search_engine div span {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

header .future_search #search_engine div span:hover {
  color: blue;
}

header .middle {
  padding: 10px 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

header .middle .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .middle .all .internet_banking {
  font-size: 18px;
  color: #0404b5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .middle .all .internet_banking img {
  padding-right: 3px;
}

header .bottom {
  padding: 20px 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

header .bottom .all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#phone .all {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#phone .all .ferdi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#phone .all .ferdi p {
  margin: 0;
}

#phone .all img {
  width: 100%;
}

#phone .all .call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
}

#phone .all .call i {
  font-size: 12px;
  color: #666;
  padding-right: 15px;
}

#phone .all .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  margin-right: 5px;
}

#phone .header_color {
  background-color: #f6f7f8;
}

@media (min-width: 992px) {
  #phone {
    display: none;
  }
  #comp {
    display: block;
  }
}

@media (max-width: 576px) {
  #phone {
    display: block;
  }
  body {
    overflow-x: hidden;
  }
  .all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call_search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call_search #languages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .call_search #languages #tap_it {
    cursor: pointer;
  }
  .call_search #languages .hide_show {
    opacity: 0;
    visibility: hidden;
  }
  .call_search #languages #hidden_langs {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 10%, 83% 10%, 72% 0, 60% 10%, 0 10%);
            clip-path: polygon(0 100%, 100% 100%, 100% 10%, 83% 10%, 72% 0, 60% 10%, 0 10%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    top: 27px;
    height: 100px;
    width: 100px;
    border: 1px solid #666;
    right: 46px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 25px;
    padding-left: 15px;
    padding-bottom: 15px;
  }
  #sidebar {
    width: 100%;
    position: absolute;
    top: 125px;
    -webkit-transition: .5s;
    transition: .5s;
    height: 80vh;
    overflow-y: scroll;
  }
  #sidebar .internet {
    background-color: rgba(0, 0, 255, 0.611);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
  }
  #sidebar .internet a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    font-size: 20px;
  }
  #sidebar .internet a img {
    margin-right: 10px;
    color: white;
  }
  #sidebar .col12ler {
    padding: 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.542);
  }
  #menu {
    cursor: pointer;
  }
  .sidebar_show {
    right: 0%;
  }
  .sidebar_remove {
    right: -100%;
  }
  #comp {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */