* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    width: 3px;
    transition: .2s;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    transition: .2s;
}
  
::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.514);
    transition: .2s;
}
::-webkit-scrollbar:hover{
    width: 8px;
}
::-webkit-scrollbar-track:hover{
    background-color: rgba(128, 128, 128, 0.459);
    width: 8px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:rgb(255, 0, 0);
}

a {
    text-decoration: none;
    color: #666;
    font-size: 14px;
    margin: 0 7px;
}
.for_visibility {
    // display: none;
    visibility: hidden;
    opacity: 0;

}
.mnk{
    padding-left: 60px ;
}
span {
    font-size: 14px;
    color: #666;

    i {
        font-size: 110%;
    }
}
#second{
    transition: 0.5s;
}
#search1{
    cursor: pointer;
}
#search_engine1 {

    transition: .4s;
    width: 100%;

    div {
        width: 100%;
        background-color: #FFF;
        padding-right: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(102, 102, 102, 0.198);
    
        border-top: 1ps solid rgba(102, 102, 102, 0.198);
        input {
            width: 90%;
            border: none;
            outline: none;
            font-size: 20px;
            opacity: 0.6;
            color: #666;
            padding: 20px;

            &::placeholder {
                opacity: 0.6;
                color: #666;
                font-weight: lighter;
            }
        }

        span {
            width: 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
        }
    }
}
header {
    .header_top_color {
        background-color: rgb(246, 247, 248);
    }

    .top {
        width: 100%;
        padding: 10px 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.267);

        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search_lang_phone {
                display: flex;
                align-items: center;
            }

            #lang {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: blue;

                    i {
                        color: blue;
                        transform: rotate(3.142rad);
                    }
                }

                i {
                    transition: 0.5s;
                }

                .for_visibility1 {
                    // display: none;
                    visibility: hidden !important;
                    opacity: 0 !important;
                }

                #langs_shadow {
                    transition: .3s;
                    z-index: 1;
                    box-shadow: 0px 0px 33px 7px #666;
                    background: transparent;
                    position: absolute;
                    right: 100px;

                    border-radius: 5px;

                    #langs {
                        clip-path: polygon(0 100%, 100% 100%, 100% 10%, 83% 10%, 72% 0, 60% 10%, 0 10%);
                        // bunun yerine before afternan atsam box shadow duzeler  + #langs_shadow - a ehtiyac qalmaz
                        background-color: #FFF;
                        width: 150px;
                        height: 120px;
                        display: flex;
                        position: absolute;
                        top: 0;
                        right: 0;
                        justify-content: space-evenly;
                        flex-direction: column;
                        padding-top: 12px;
                        padding-left: 15px;

                        span {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            font-size: 1.25rem;

                            img {
                                vertical-align: bottom;
                                margin-right: 10px;
                            }
                        }
                    }

                }
            }



            #search {
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: blue;
                    transform: scale(1.2);
                }

                i {
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }

            .top_right_nav {
                display: inline;
                margin-right: 10px;
                text-decoration: none;
                font-size: 14px;
                color: #666666;
                transition: 0.3s;
            }

            .top_left_blue_button {
                text-decoration: none;
                font-size: 14px;
                border-radius: 20px;
                border: 1px solid rgb(0, 86, 193);
                padding: 7px 10px;
                color: rgb(0, 86, 193);
                transition: 0.3s;

                &:hover {
                    background-color: rgb(51, 41, 202);
                    color: white;
                }
            }
        }
    }

    .future_search {
        position: relative;

        .for_visibility {
            // display: none;
            visibility: hidden;
            opacity: 0;

        }

        #search_engine {

            transition: .4s;
            width: 100%;
            position: absolute;

            div {
                width: 100%;
                background-color: #FFF;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid rgba(102, 102, 102, 0.198);

                input {
                    width: 95%;
                    height: 136px; //bunu duzelt ikisinin yerini tutsun
                    border: none;
                    outline: none;
                    font-size: 40px;
                    opacity: 0.6;
                    color: #666;
                    padding: 30px;

                    &::placeholder {
                        opacity: 0.6;
                        color: #666;
                        font-weight: lighter;
                    }
                }

                span {
                    width: 5%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 25px;
                    cursor: pointer;
                    transition: .5s;

                    &:hover {
                        color: blue;
                    }
                }
            }
        }
    }




    .middle {
        padding: 10px 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.267);

        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .internet_banking {
                img {
                    padding-right: 3px;
                }

                font-size: 18px;
                color: rgb(4, 4, 181);
                display: flex;
                align-items: center;
            }
        }
    }

    .bottom {
        padding: 20px 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.267);

        .all {
            display: flex;
            justify-content: space-between;
            align-items: center;

        }
    }
}

#phone {
    .all {
        padding: 15px;

        .ferdi {
            display: flex;
            align-items: center;

            p {
                margin: 0;
            }
        }

        img {
            width: 100%;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .call {
            display: flex;
            justify-content: end;
            align-items: center;
            padding-right: 10px;

            i {
                font-size: 12px;
                color: #666;
                padding-right: 15px;
            }
        }

        .menu {
            display: flex;
            font-size: 1.5rem;
            justify-content: end;
            align-items: center;
            padding-right: 10px;
            margin-right: 5px;
            // transform: scaleX(1.2);
        }
    }

    .header_color {
        background-color: rgb(246, 247, 248);
    }
}




@media (min-width: 992px) {
    #phone {
        display: none;
    }

    #comp {
        display: block;
    }
}

@media (max-width: 576px) {
    #phone {
        display: block;
    }

    .all {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .call_search {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #languages {
            #tap_it{
                cursor: pointer;

            }
            display: flex;
            justify-content: space-between;
            align-items: center;

            .hide_show{
                opacity: 0;
                visibility: hidden;
            }
            #hidden_langs {
                clip-path: polygon(0 100%, 100% 100%, 100% 10%, 83% 10%, 72% 0, 60% 10%, 0 10%);
                transition: 0.3s;
                top: 27px;
                height: 100px;
                width: 100px;
                border: 1px solid #666 ;
                right: 46px;
                position: absolute;
                background-color: #fff;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                padding-top: 25px;
                padding-left: 15px;
                padding-bottom: 15px;
            }

        }

    }

    #sidebar{
        height: 70vh;
        overflow-y: scroll;
        .internet{
            background-color: rgba(0, 0, 255, 0.611);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            a{
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    margin-right: 10px;
                    color: white;
                }
                color: white;
                font-size: 20px;
            }
        }

        .col12ler{
            padding: 20px;
            text-align: center;
            border: 1px solid rgba(0, 0, 0, 0.542);
        }
    }

    #comp {
        display: none;
    }
}